@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Bogle&display=swap');


:root {
--primeira-cor: rgba(209, 10, 10, 0.904);
--segunda-cor: rgb(28, 32, 36);
--terceira-cor: rgb(18, 18, 19);
--cor-para-links:rgb(122, 6, 6);
--cor-para-links2:rgb(231, 41, 41);
--cor-para-links3:rgb(190, 56, 7);
--fonte-primeiro: "BBH Bartle", sans-serif ;
--fonte-segundo: "BBH Bogle", sans-serif ;
}

body {
    background-color: rgb(28, 32, 36);
    color: rgba(209, 10, 10, 0.904);
}

.banner-jogo {
  width: 100%;
  height: 180px;
  background-color: #000;
  overflow: hidden;
}

.banner-jogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(0.7);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}
