@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Bogle&display=swap');


:root {
  --primeira-cor: rgba(209, 10, 10, 0.904);
  --segunda-cor: rgb(28, 32, 36);
  --terceira-cor: rgb(18, 18, 19);
  --cor-para-links: rgb(122, 6, 6);
  --cor-para-links2: rgb(231, 41, 41);
  --cor-para-links3: rgb(190, 56, 7);
  --fonte-primeiro: "BBH Bartle", sans-serif;
  --fonte-segundo: "BBH Bogle", sans-serif;
}

body {
  background-color: rgb(28, 32, 36);
  color: rgba(209, 10, 10, 0.904);
}

.banner-battletoads {
  width: 100%;
  height: 180px;
  background-color: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-battletoads img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.container {
  max-width: 1100px;
  padding: 1rem;
  margin: 0 auto;
}

.battletoads--titulo {
  text-align: left;
  font-family: var(--fonte-primeiro);
}

.battletoads--texto {
  font-family: var(--fonte-segundo);
  font-size: 1em;
}

.battletoads--img {
  margin-top: 1em;
  border: 3px solid rgb(190, 56, 7);
  border-radius: 7px;
  width: 250px;
}

.battletoads--titulo2 {
  text-align: center;
  font-family: var(--fonte-primeiro);
}

.battletoads--texto2 {
  text-align: center;
  font-family: var(--fonte-segundo);
}

.battletoads--img2 {
  margin-top: 1em;
  display: block;
  margin: auto;
  border: 3px solid rgb(190, 56, 7);
  border-radius: 7px;
  width: 250px;
}

.battletoads--titulo3 {
  text-align: center;
  font-family: var(--fonte-primeiro);
}

.battletoads--texto3 {
  text-align: center;
  font-family: var(--fonte-segundo);
}

.video-link {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.video-thumb {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-thumb:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(190, 56, 7, 0.7);
}

.battletoads--link {
  display: table;
  margin: 1em auto;
  justify-content: center;
  align-items: center;

  width: fit-content;
  max-width: 100%;

  padding: 10px 20px;

  background-color: rgb(122, 6, 6);
  color: rgb(231, 41, 41);
  border-radius: 7px;
  border: solid rgb(190, 56, 7);
  text-decoration: none;
  font-family: var(--fonte-segundo);
}


.rodape--battletoads {
  background-color: rgb(18, 18, 19);
  color: rgba(209, 10, 10, 0.904);
  text-align: center;
  padding: 2em;
  font-size: 1.5em;
  font-family: var(--fonte-segundo);
}

.rodape--link--battletoads {
  background-color: rgb(122, 6, 6);
  color: rgb(231, 41, 41);
  border-radius: 7px;
  border: solid rgb(190, 56, 7);
  text-decoration: none;
  font-family: var(--fonte-segundo);
}




@media screen and (max-width: 500px) {

  body {
    overflow-x: hidden;
  }

  .container {
    padding: 1rem 0.8rem;
  }

  .battletoads--img {
    max-width: 100%;
    width: 250px;
  }

  .video-thumb {
    max-width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 500px) {

  .battletoads--titulo {
    font-size: 1.4rem;
    text-align: center;
    word-break: break-word;
  }

  .battletoads--titulo2 {
    font-size: 1.2rem;
    word-break: break-word;
  }

}